---
import GlobalStyles from "../components/GlobalStyles.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";

import DailyReocurring from "../components/DailyReocurring.astro";

import MaintenanceBanner from "../components/banners/MaintenanceBanner.astro";
import FullBurstDayBanner from "../components/banners/FullBurstDayBanner.astro";
import OverclockBanner from "../components/banners/OverclockBanner.astro";
import CoopBanner from "../components/banners/CoopBanner.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/anisa/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Anisa - A NIKKE information aggregator that (kinda) sucks.</title>
		<meta name="title" content="Anisa">
		<meta name="description" content="Anisa is a soon-to-be awful NIKKE information aggregator that collects information from other sites in order to function for once in its' goddamn life.">
		<meta content="#f4d259" data-react-helmet="true" name="theme-color" />

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
        <Header />
        <Sidebar />
		<div class="main">
			<div class="wrapper">
                <h1>A NIKKE information aggregator that (kinda) sucks.</h1>
				<p>Hey! This site won't get updated much anymore -- though, it will still keep active.</p>
				<p>Not a lot of major features this time around, but data stuff will still get updated!</p>
				<p><a href="/anisa/data/">See data stuff here!</a></p>

				<!-- <MaintenanceBanner /> -->

				<div class="nikke-main">
					<div class="fun-stuff">
						<div>
							<h2 class="header-with-side-element">Today's Agenda <span class="time daily" title="Time until reset">00H 00M 00S</span></h2>
							<DailyReocurring />
						</div>
						<!-- <div>
							<h2>Site Announcements</h2>
							<div class="scroll-limit" id="announcements-posts"></div>
						</div> -->
					</div>
					<div class="build-stuff">
						<!-- <div>
							<h2>Current Events</h2>
							<FullBurstDayBanner />
							<CoopBanner element="water"/>
							<OverclockBanner />
						</div> -->
						<div>
							<h2>Twitter</h2>
							<div style="display: flex; justify-content: center;">
								<div style="width: 90%;">
									<a class="twitter-timeline" data-height="600" data-theme="dark" href="https://twitter.com/NIKKE_en?ref_src=twsrc%5Etfw">Tweets by NIKKE_en</a>
									<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			<Footer />
        </div>
    </body>
</html>

<GlobalStyles />