---
---

<div class="footer">
    <span>anisa, an information aggregator made by skuqre. more projects at <a href="https://skuqre.github.io/">skuqre.github.io</a></span>
</div>

<style>
    div.footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        background-color: rgba(21,21,21,1);
        color: var(--light);

        width: 100%;
        height: 64px;

        margin-top: 256px;

        
        box-shadow: 0 -4px 16px rgba(0,0,0,0.8);
        text-align: center;
    }
</style>