---
import Navbar from './Navbar.astro'
---

<header>
    <nav>
        <Navbar />
    </nav>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        z-index: 999;
    }
</style>