---
---

<div class="special-interception">
    <img src="" alt="SI boss" class="boss-bg" id="si-boss" draggable="false">
    <span class="si-text">
        <div>
            <span class="si-title">TODAY'S SPECIAL INTERCEPTION</span><br>
            <span class="si-boss" id="si-boss-name"></span>
        </div>

        <span class="si-time" title="Time until reset">00H 00M 00S</span>
    </span>
</div>

<style>
    div.special-interception {
        width: 100%;
        height: 150px;
        position: relative;
        overflow: hidden;

        background-image: repeating-linear-gradient(45deg, var(--darkerer), var(--darkerer) 1px, var(--darkererer) 1px, var(--darkererer) 8px);
        background-position: center;
        border: 1px solid var(--darker);
        border-radius: 4px;
        text-shadow: black 0 0 4px, black 0 0 4px;
    }

    img.boss-bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        z-index: 0;
    }

    span.si-text {
        bottom: 8px;
        margin: 0 16px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: calc(100% - 32px);
        flex-wrap: wrap;
        gap: 4px;
    }

    span.si-boss {
        font-weight: bolder;
        font-size: 32px;
    }

    span.si-title {
        font-size: 20px;
        font-family: "Abolition", monospace;
        line-height: 24px;
    }


    span.si-time {
        border-radius: 16px;
        line-height: 24px;
        font-size: 14px;

        background-color: var(--darkererer);
        border: 1px solid var(--darker);
        padding: 4px 16px;

        font-weight: 600;
        color: var(--lighterer);
    }
</style>

<script>
    // lost my fucking mind at this
    // don't mind me :)
    setInterval(() => {
        let utcTime = new Date();
        let endUtcTime = new Date(utcTime.getFullYear(), utcTime.getMonth(), utcTime.getDate() + 1, 20)

        let timeLeft = -(utcTime.getTime() - (endUtcTime.getTime() - utcTime.getTimezoneOffset() * 60 * 1000));
        const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

        document.getElementsByClassName('si-time')[0].innerHTML = `${hours}H ${minutes}M ${seconds}S`;

        let bosses = [
            ['train', 'Alteisen MK. VI'],
            ['gravedigger', 'Gravedigger'],
            ['blacksmith', 'Blacksmith'],
            ['chatterbox', 'Chatterbox'],
            ['modernia', 'Modernia']
        ];

        const curBoss = bosses[Math.abs((utcTime.getUTCDate() - 2) % 5)];

        (document.getElementById('si-boss') as any).src = '/anisa/images/si/' + curBoss[0] + '.png';
        (document.getElementById('si-boss-name') as any).innerHTML = curBoss[1];
    }, 500)
</script>