---
---
<div class="rate-table-bg">
    <table class="rate-table">
        <tr>
            <th>Story</th>
            <th>Bosses</th>
            <th>PvP</th>
        </tr>
        <tr>
            <td id="nikgg-story"></td>
            <td id="nikgg-boss"></td>
            <td id="nikgg-pvp"></td>
        </tr>
        <table class="rate-table rowcombi">
            <tr>
                <th>Combined</th>
                <th>Invest?</th>
            </tr>
            <tr>
                <td id="nikgg-comb"></td>
                <td id="nikgg-invest"></td>
            </tr>
        </table>
    </table>
</div>

<style>
    table.rowcombi {
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
    }
</style>