---
---
<div class="rate-table-bg">
    <table class="rate-table">
        <tr>
            <th>Boss (Adds)</th>
            <th>Boss (Solo)</th>
            <th>PvP</th>
        </tr>
        <tr>
            <td id="pryd-bossadds"></td>
            <td id="pryd-bosssolo"></td>
            <td id="pryd-pvp"></td>
        </tr>
        <tr>
            <th>Early Story</th>
            <th>Mid Story</th>
            <th>Late Story</th>
        </tr>
        <tr>
            <td id="pryd-early"></td>
            <td id="pryd-mid"></td>
            <td id="pryd-late"></td>
        </tr>
    </table>
</div>