---
import GlobalStyles from "../components/GlobalStyles.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";

const {frontmatter} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{frontmatter.title !== undefined ? (frontmatter.title.length != 0 ? "Anisa - " + frontmatter.title : "Anisa") : "Anisa"}</title>
		<meta name="title" content="Anisa">
		<meta name="description" content="Anisa is a soon-to-be awful NIKKE information aggregator that collects information from other sites in order to function for once in its' goddamn life.">
		<meta content="#f4d259" data-react-helmet="true" name="theme-color" />

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
        <Header />
        <Sidebar />
		<div class="main">
			<div class="wrapper">
				<div id="md">
					<slot />
				</div>

				<script>
					let md: any = document.getElementById('md');
					let matches = [...md.innerHTML.matchAll(/\[imgicon::.*\]/g)]
					for (let i = 0; i < matches.length; i++) {
						let element = `
						<div class="imgicon" style="display: inline-block;">
							<img src="https://static.dotgg.gg/nikke/items/${matches[i][0].replace("[", "").replace("]", "").split("::")[1]}.webp" />
						</div>
						`
						md.innerHTML = md.innerHTML.replace(matches[i][0], element)
					}
				</script>
            </div>
        </div>
    </body>
</html>

<GlobalStyles />